  /*  */

*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

body { 
    background: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
/* Container for everyting */
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
/* Buttons in text display */
.content .btn{
    background-color: rgba(124, 200, 197, 0);
    border: none;
    font-size: 1.5em;
}
.content .btn:focus{
    border: none;
    font-size: 20px;
}
.content a:hover{
    /* font-size: 30px; */
    box-shadow:
        0 0 20px 1px #fff,  /* inner white */
        0 0 50px 10px yellow, /* middle red */
        0 0 50px 10px #0ff; /*outer cyan*/
}
  /* Header section */
header .card{
    height: 150px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0);
    border-style: none;
}
/* Header Text */
header .card-title{
    text-transform: uppercase;
    color: #EC5D98;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.card-body{
    padding: 5px;
}


/* GameBoard Container */
main{
    display: flex;
    justify-content: space-around;
}
.jumbotron{
    background-color: rgba(180, 201, 201, 0.01);
}
  /* Container for simon pieces */
#shell{
    border: 20px solid rgba(48, 47, 47, 0.527);
    width: 550px;
    height: 550px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: black;
    z-index: 1;
    align-self: center;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
}

/* Style for Score Keeper */
.scoreKeeper,.card-header{
    color: black;
    border-style: none;
}

/* Screen that tracks whos turn it is */
.turnFlag{
    text-align: center;
    height: 50%
}

/* All Buttons */
.colorButtons{
    display: inline-block;
    border: 0 solid red;
    min-width: 49%;
    min-height: 49%;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
}

/* Color item buttons */
#green{
    border-top-left-radius: 100%;
    background-color: rgb(0, 121, 0);
}
#blue{
    border-bottom-right-radius: 100%;
    background-color: rgb(0, 0, 255);
}
#yellow{
    border-bottom-left-radius: 100%;
    background-color: rgb(255, 255, 0);  
}
#red{
    border-top-right-radius: 100%;
    background-color: rgb(252, 0, 0);
}
.glow{
    box-shadow:
        0 0 20px 10px #fff,  /* inner white */
        0 0 50px 30px yellow, /* middle red */
        0 0 50px 30px #0ff; /*outer cyan*/
}

/* Footer */
