  /*  */

*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

body { 
    background: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
/* Container for everyting */
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.content .btn{
    width: 120px
}
  /* Header section */
header .card{
    height: 150px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.3)
}
.card-body{
    padding: 5px;
}


/* GameBoard Container */
main{
    display: flex;
    justify-content: space-around;
}
.jumbotron{
    background-color: rgba(180, 201, 201, 0.01);
}
  /* Container for simon pieces */
#shell{
    border: 20px solid black;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: black;
    z-index: 1;
    align-self: center;

}

/* Style for Score Keeper */
.scoreKeeper,.card-header{
    color: black;
    border-style: none;
}

/* Screen that tracks whos turn it is */
.turnFlag{
    text-align: center;
    height: 50%
}

/* All Buttons */
.colorButtons{
    display: inline-block;
    border: 0 solid red;
    min-width: 49%;
    min-height: 49%;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
}

/* Color item buttons */
#green{
    border-top-left-radius: 100%;
    background-color: rgb(1, 56, 1);
}
#blue{
    border-bottom-right-radius: 100%;
    background-color: rgb(0, 0, 117);
}
#yellow{
    border-bottom-left-radius: 100%;
    background-color: rgb(128, 128, 2);  
}
#red{
    border-top-right-radius: 100%;
    background-color: rgb(119, 0, 0);
}
.glow{
    box-shadow:
        0 0 20px 10px #fff,  /* inner white */
        0 0 50px 30px yellow, /* middle red */
        0 0 50px 30px #0ff; /*outer cyan*/
}

/* Footer */
